@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Outfit:wght@100..900&display=swap');


@font-face {
    font-family: 'HYWenHei';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/HYWenHei.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #664D3C;
    text-align: center;
    font-family: 'Outfit';
    font-size: clamp(12px, 1.25vw + 1px, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: 1.333;
    letter-spacing: 1px;
    background-color: #97F6FF;
    overflow-x: hidden;
}

.container {
    max-width: 64.5%;
    margin: 0 auto;
}

.faq-container {
    max-width: 68%;
}

.intro-container {
    max-width: 65%;
}

.step-container {
    max-width: 84%;
}

.special-text {
    font-family: 'HYWenHei';
    font-style: normal;
    font-size: clamp(30px, 4vw, 60px);
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 80px;
    color: #FFD847;
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #6439FF;
}

a {
    text-decoration: none;
}

header {
    position: relative;
    top: 0;
    text-align: center;
    padding: 0 !important;
    width: 100%;
    z-index: 20;
}

header a {
    font-size: 30px;
}

.head {
    position: absolute;
    transform: translate(0, -50%);
    left: 44%;
    top: 60px;
}

section {
    position: relative;
}

.hero__img-main {
    position: relative;
    z-index: 2;
}

.hero__img-cloud {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.hero__img-wave {
    position: absolute;
    bottom: 20px;
    width: 100%;
    z-index: 4;
}

.fit-img {
    width: 100%;
    object-fit: cover;
}

.hero__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
}

.hero__actions {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.hero__actions a {
    display: block;
    width: 333px;
    height: 100px;
    line-height: 70px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__actions-item-1 {
    background-image: url(../images/hero/btn-1.svg);
}

.hero__actions-item-2 {
    background-image: url(../images/hero/btn-2.svg);
}

.intro__content {
    display: flex;
    align-items: center;
    height: 765px;
    background: url(../images/mana/book.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 5;
}

.intro__block {
    display: flex;
    position: absolute;
    width: 100%;
    padding: 0 170px;
    align-items: center;
    top: 25%;
}

.intro__block-text {
    flex: 1;
    transform: rotate(-1deg);
    padding-right: 32px;
}

.intro__block-text p {
    margin-bottom: 50px;
}

.intro__block-img {
    flex: 1;
    text-align: center;
}

.intro__img-mountain {
    position: absolute;
    top: -29%;
    left: 0;
    z-index: 4;
    width: 75%;
}

.intro__img-mountain-mb {
    display: none;
}

.intro__img-beach {
    position: absolute;
    right: -10px;
    z-index: 6;
    width: 60%;
    top: 50%;
}

.step {
    z-index: 6;
    top: 120px;
}

.step-img {
    position: absolute;
    bottom: -100px;
    z-index: -1;
    left: 0;
    width: 25%;
}

.step__list {
    display: flex;
    gap: 20px;
}

.step__item {
    padding: 20px;
    background-color: #fff;
    border-radius: 17.5px;
    text-align: left;
}

.step__item-1 {
    flex: 2;
    text-align: left;
}

.step__item-1 .step__item-content {
    padding: 0 20px;
}

.step__item-2 {
    flex: 1;
}

.step__item-3 {
    flex: 1;
}

.step__item-img {
    margin-bottom: 20px;
}

.step__item-img img {
    width: 100%;
    object-fit: cover;
}

.step__item-content h3 {
    margin-bottom: 17px;
    color: #FF4D29;
    font-size: clamp(18px, 1.5vw, 30px);
    ;
    font-weight: 500;
    line-height: 1.3;
}

.faq {
    top: 350px;
    z-index: 7;
}

.faq-img {
    position: absolute;
    top: 15%;
    left: 3%;
    width: 30%;
}

.faq-bubble {
    position: absolute;
    top: -225px;
    left: 0;
    z-index: -1;
    width: 50%;
}

.faq-ship {
    position: absolute;
    right: -30px;
    width: 30%;
    top: -200px;
    text-align: right;
}

.faq-ship img {
    width: 100%;
    text-align: right;
}

.faq__list {
    padding: 100px 160px 100px 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    background-image: url(../images/faq/faq-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.faq__list-item {
    text-align: left;
}

.faq__list-item h3 {
    margin-bottom: 20px;
    font-size: clamp(20px, 1.5vw + 1px, 30px);
    line-height: 1.3;
    font-weight: 500;
    width: 500px;
    height: 129px;
    background-image: url(../images/faq/bg-h3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: rotate(-3deg);
}

.faq__list-item:nth-child(3) {
    grid-column: 1 / -1;
}

.faq__list-item:nth-child(3) p {
    width: 80%;
}

footer {
    padding: 150px;
    position: relative;
    top: 350px;
    text-align: center;
    background-image: url(../images/footer/mountcenter.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.footer-shark {
    position: absolute;
    width: 30%;
    left: 0;
    top: 0;
}

.footer-turtle {
    width: 20%;
    position: absolute;
    left: 5%;
    top: 0;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__content p {
    width: 50%;
    margin: 0 auto;
}

.social,
.footer__action {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {
    gap: 20px;
}

.footer__action a {
    display: block;
    width: 340px;
    height: 90px;
    background-image: url(../images/fbtn-bg.svg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 80px;
    color: #664D3C;
}

.contact {
    padding-top: 120px;
}

.contact__img,
.contact__cloud,
.contact__shark {
    position: absolute;
}

.contact__img {
    width: 25%;
    top: 5%;
    left: 10%;
}

.contact__cloud {
    width: 100%;
    left: 0;
    z-index: -1;
    bottom: -10%;
}

.contact__shark {
    transform: scaleX(-1);
    right: 0;
    top: 23%;
    width: 25%;
}

.contact__container {
    max-width: 1254px;
}

.contact__form {
    padding: 150px 194px 150px 183px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 343px);
    row-gap: 80px;
    justify-content: space-between;
    background-image: url(../images/contact/contact-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.contact__form .contact__field {
    text-align: left;
}

.contact__field:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.contact__field:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
}

.contact__field:nth-child(3) {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.contact__field-label {
    font-weight: bold;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(10px, 1.25vw + 1px, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: 1.333;
    width: 292px;
    height: 78px;
    background-image: url(../images/faq/bg-h3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.contact__field input,
.contact__field textarea {
    width: 100%;
    height: 72px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid #B8B0C6;
    background: #FFF;
}

.contact__field textarea {
    height: 60%;
    resize: none;
}

.footer-contact {
    padding-top: 0;
    top: 100px;
}


.about {
    padding-top: 300px;
}

.about__item {
    margin-bottom: 12px;
    text-align: left;
}

.about__item:first-child {
    width: 70%;
}

.about__item-label {
    width: 292px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/faq/bg-h3.png);
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about__label {
    position: absolute;
    width: 25%;
    top: 10%;
    left: 8%;
}

.about__beach {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 50%;
    top: 20%;
}



@media (max-width: 1800px) {

    .intro__content {
        height: 740px;
    }

    .intro__img-mountain {
        top: -27%;
    }

    .intro__img-beach {}

    .faq-img {
        top: 18%;
    }

    .faq__list-item h3 {
        width: 470px;
    }
}

@media (max-width: 1600px) {

    .intro__content {
        height: 660px;
    }

    .intro__block {
        padding: 0 140px;
    }

    .intro__img-mountain {
        top: -25%;
    }

    .step {
        top: 90px;
    }

    .faq-img {
        top: 22%;
    }

    .faq-ship {
        top: -70px;
    }

    .faq__list {
        padding: 150px 80px 150px 60px;
    }

    .faq__list-item h3 {
        width: 420px;
    }

    .special-text {
        margin-bottom: 60px;
    }

    .about__beach {
        top: 25%;
    }
}

@media (max-width: 1440px) {

    .intro__content {
        height: 595px;
    }

    .intro__block {
        padding: 0 115px;
    }

    .step {
        top: 60px;
    }

    .faq-img {
        top: 30%;
    }


    .faq-ship {
        top: 50px;
    }

    .faq__list {
        padding: 120px 80px;
    }

    .faq__list-item h3 {
        width: 350px;
    }

    .about__beach {
        top: 30%;
    }
}

@media (max-width: 834px) {

    .head {
        top: 30px;
    }

    .head img {
        width: 59px;
        height: 12px;
    }

    .hero__container {
        width: 80%;
    }

    .hero__img-wave {
        display: none;
    }

    .hero__actions a {
        width: 110px;
        height: 33px;
        font-size: 10px;
        line-height: 28px;
    }


    .intro__container {
        max-width: 46% !important;
        padding: 0 !important;
    }

    .intro__img-mountain-mb {
        display: block;
        position: absolute;
        left: 0;
        top: -12%;
    }

    .intro__content {
        height: 232px;
    }

    .intro__block {
        padding: 0 50px;
        top: 15%;
    }

    .intro__block-img img {
        width: 75px;
    }

    .intro__block-text {
        padding-right: 0;
    }

    .intro__block-text p {
        margin-bottom: 20px;
        font-size: 8px;
    }

    .intro__img-mountain {
        display: none;
    }

    .intro__img-beach {
        width: 80%;
    }

    .step {
        top: 200px;
    }

    .step-img {
        bottom: 0;
        width: 45%;
    }

    .special-text {
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: none;
        margin-bottom: 40px;
    }

    .step .special-text {
        position: absolute;
        top: 10%;
        left: calc((100% - 84%) / 2);
    }

    .step__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        align-items: center;
        position: relative;
    }

    .step__item {
        height: 100%;
    }

    .step__item-1 {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        position: relative;
        top: 50%;
    }

    .step__item-1 .step__item-content {
        padding: 0;
    }

    .step__item-1 .step__item-img {
        height: 70%;
    }

    .step__item-1 .step__item-img img {
        height: 100%;
    }

    .step__item-2 {
        grid-column: 2;
        grid-row: 1;
    }

    .step__item-3 {
        grid-column: 2;
        grid-row: 2;
    }

    .faq {
        top: 300px
    }

    .faq-bubble {
        top: -200px;
        left: -50px;
    }

    .container {
        max-width: 1100px;
        padding: 0 6.8%;
    }

    .faq__list {
        grid-template-columns: repeat(1, 1fr);
        padding: 220px 100px;
        background-image: url(../images/faq/faq-bg-mb.png);
    }

    .faq__list-item h3 {
        width: 100%;
        transform: none;
    }

    .faq__list-item:nth-child(3) p {
        width: 100%;
    }

    .faq-img {
        width: 35%;
        top: 7%;
    }

    .faq-ship {
        top: unset;
        bottom: 0;
        width: 25%;
    }

    footer {
        padding: 0 0 60px;
        top: 300px;
    }

    .social a img {
        width: 23.7px;
        height: 23.7px;
    }

    .footer__content .logo img {
        width: 117px;
        height: 100%;
    }

    .footer__action a {
        width: 127px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-weight: 600;
    }

    .contact {
        padding-top: 60px;
    }

    .contact__img {
        top: 10%;
        left: 0;
    }

    .contact__form {
        padding: 14%;
    }

    .contact__field-label {
        width: 158px;
        height: 42px;
    }

    .contact__field input {
        height: 40px;
    }

    .about {
        padding-top: 200px;
    }

    .about__item-label {
        font-size: 18px;
        font-weight: 600;
    }

    .about__label {
        left: 0;
        width: 30%;
    }

    .about__item:first-child {
        width: 100%;
    }

    .about__beach {
        top: 100%;
    }

    .footer-shark {
        position: absolute;
        width: 25%;
        left: 0;
        top: -5%;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 100% !important;
        padding: 0 20px !important;
    }

    .intro {
        top: 20px;
    }

    .intro__img-mountain-mb {
        top: -20%;
        left: -45%;
    }

    .step {
        top: 100px;
    }

    .step .special-text {
        position: unset;
    }

    .step__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .step__item {
        grid-row: auto;
        grid-column: auto;
    }

    .step__item-1 {
        top: 0;
    }

    .step__item-1 .step__item-img {
        min-height: 312px;
    }

    .step-img {
        width: 80%;
        bottom: -10%;
    }

    .faq-bubble {
        width: 100%;
        left: 0;
        top: -120px;
    }

    .faq__list {
        grid-template-columns: repeat(1, 1fr);
        padding: 40px 0;
        align-items: center;
        justify-content: center;
        background-image: url(../images/faq/faq-bg-mb.png);
        gap: 20px;
    }

    .faq__list-item {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        align-items: center;
    }

    .faq__list-item h3 {
        width: 90%;
        transform: none;
        text-align: center;
        height: 100px;
        margin-bottom: 0;
    }

    .faq-img {
        width: 50%;
        top: 18%;
        left: -13%;
    }

    .faq-ship {
        bottom: -50px;
    }

    footer {
        background-size: cover;
    }

    .contact__form {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        background-image: url(../images/contact/contact-bg-mb.png);
        background-size: 100%;
        padding: 30% 14% 50% 14%;
    }

    .contact__field {
        grid-column: auto !important;
        grid-row: auto !important;
    }

    .contact__field textarea {
        height: 100%;
    }

    .contact {
        padding-top: 120px;
    }

    .contact__img {
        width: 50%;
        left: -10%;
        top: 12%;
    }

    .contact__shark {
        top: 10%;
        width: 40%;
    }

    .about__item {
        text-align: center;
    }

    .about__item-label {
        margin: 0 auto 16px;
    }

    .about__label {
        top: 15%;
        width: 60%;
        left: -5%;
    }

    .head {
        top: 15px;
    }

    .hero__actions {
        margin-top: 5px;
    }
}